<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">

    <title>Home</title>
    <style>
    .back{
        background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    </style>
</head>

<body>
    <!-- component -->
    <header>
        <nav class="bg-white shadow">
            <div class="container mx-auto px-6 py-3 ">
                <div class="md:flex md:items-center md:justify-between">
                    <div class="flex justify-between items-center">
                        <div class="text-xl font-semibold text-gray-700">
                            <a href="#"
                                class="text-gray-800 text-xl font-bold hover:text-gray-700 md:text-2xl">PhishHooknLook</a>
                        </div>

                        <!-- Mobile menu button -->
                        <div class="flex md:hidden">
                            <button type="button"
                                class="text-gray-500 hover:text-gray-600 focus:outline-none focus:text-gray-600"
                                aria-label="toggle menu">
                                <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
                                    <path fill-rule="evenodd"
                                        d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <!-- Mobile Menu open: "block", Menu closed: "hidden" -->
                    <div class="hidden -mx-4 md:flex md:items-center">
                        <a href="{% url 'spam' %}"
                            class="block mx-4 mt-2 md:mt-0 text-sm text-gray-700 capitalize hover:text-blue-600">Spam
                            Classifier</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="w-full bg-cover bg-center back"
            style="height:32rem; background-image: url(https://source.unsplash.com/random);">
            <div class="flex items-center justify-center h-full w-full bg-gray-900 bg-opacity-50">
                <div class="text-center">
                    <h1 class="mb-6 text-xl font-bold">Phishing URL Detector</h1>

                    <form action="classify" method='post'>
                        {% csrf_token %}
                        <div class="mb-4">
                            <input
                                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                                name="url" type="text" placeholder="Paste URL">
                        </div>
                        <button
                            class="mt-4 px-4 py-2 bg-blue-600 text-white text-sm uppercase font-medium rounded hover:bg-blue-500 focus:outline-none focus:bg-blue-500"
                            type="submit">Detect!</button>
                    </form>
                {% if value %}
                <h1 class="mt-6 text-xl font-bold">{{ value }}</h1>
                {% endif %}
                </div>
            </div>
        </div>
    </header>
</body>

</html>